{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'crud/styles/style.css' %}" />
  </head>

  <body>
    <nav class="navbar container-fliud">
      <div class="navbar__logo">
        <img
          src="{% static 'crud/images/cloud.png' %}"
          alt=""
          class="navbar__image"
        />
        <p class="navbar__logo-text">Погода</p>
      </div>
      <ul class="navbar__links">
        <li class="navbar__li">
          <a href="{% url 'home' %}" class="navbar__link">Главная</a>
        </li>
        <li class="navbar__li">
          <a href="{% url 'about' %}" class="navbar__link">О нас</a>
        </li>
        <li class="navbar__li">
          <a href="{% url 'weather' %}" class="navbar__link">Погода</a>
        </li>
        <li class="navbar__li">
          <a href="{% url 'new' %}" class="navbar__link">Новая запись</a>
        </li>
      </ul>
    </nav>
    <main class="weather-section">
      <h1 class="weather-section__heading">База записей о погоде.</h1>
      <p class="weather-section__text">Средняя температура за всё время: {{ avg }}°C</p>
      <table class="weather-section__table table table-striped">
        <thead class="weather-section__thead">
          <tr class="weather-section__row">
            <th class="weather-section__th" scope="col">id</th>
            <th class="weather-section__th" scope="col">Город</th>
            <th class="weather-section__th" scope="col">Дата</th>
            <th class="weather-section__th" scope="col">Температура</th>
            <th class="weather-section__th" scope="col">Влажность</th>
            <th class="weather-section__th" scope="col">Скорость ветра</th>
            <th class="weather-section__th" scope="col">Действия</th>
          </tr>
        </thead>
        {% for el in record %}
        <tr class="weather-section__row">
          <td class="weather-section__td">{{el.id}}</td>
          <td class="weather-section__td">{{el.city}}</td>
          <td class="weather-section__td">{{el.date}}</td>
          <td class="weather-section__td">{{el.temperature}}</td>
          <td class="weather-section__td">{{el.humidity}}</td>
          <td class="weather-section__td">{{el.windspeed}}</td>
          <td class="weather-section__td_icons">
            <a
              href={%url 'edit' el.id%}
              class="weather-section__icon"
              alt="" >
              <img src="{% static 'crud/images/edit.png' %}">
            <a/>
            <a
              href={%url 'delete' el.id%}
              class="weather-section__icon"
              alt="">
              <img src="{% static 'crud/images/delete.png' %}">
            <a/>
          </td>
        </tr>
        {% endfor %}
      </table>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
